{% render 'partials/head.liquid', title: '404 page not found' %}

<main class="404-page">
    <img class="cadeau-img-404" src="/assets/cadeau404.svg" alt="cadeau">
    <h1 class="text-404">404</h1>
    <p class="text-page">Pagina niet gevonden</p>
</main>

{% render 'partials/footer.liquid' %}