{% render 'partials/head.liquid', title: 'Home' %}

<main class="general" style="view-transition-name:page">


    <section class="products-home">

        <button class="filter-popover" popovertarget="my-popover"><img class="filter-img" src="/assets/filter.svg" alt="">FILTER
            PER</button>
        <section class="filter" popover id="my-popover">
            Pas filters aan

        </section>

        {% for item in items %}
        {% if forloop.index == 2 %}
        <div class="wrapper-register">
            <h1 class="text-register">Maak een lijst voor je beste vriend(in)</h1>
            <img class="img-person-regsiter" src="/assets/register.svg" alt="">
            <img class="img-bloem-register" src="/assets/bloem.svg" alt="">
            <a class="register-btn" href="#">Register of log in</a>
        </div>
        {% endif %}
        {% include 'partials/card.liquid' with item, size: 'large' %}
        {% endfor %}
    </section>

    <form class="filter-chat">
        <fieldset>
            <legend>Ik ben op zoek naar een cadeau voor...</legend>
            <div class="wrapper-chat">
                <div class="container-search">     
                    <div class="chat-input">
                        <input type="chat" id="chat" name="chat" placeholder="Ik ben op zoek naar een cadeau voor..." />
                        <button class="to-chat-btn"><img class="search" src="/assets/search.svg" alt="search"></button>
                    </div>
                </div>
                 <div class="wrapper-spotters-join">
                    <img class="spotters-invite-img" src="/assets/spotters.svg" alt="spotters">
                    <h2 class="spotters-join">Word lid van onze community van spotters</h2>
                </div> 
            </div>
        </fieldset>
    </form>
</main>

{% render 'partials/footer.liquid' %}